{% extends "main_page.html" %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Шахтарський ліцей №2</title>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="Автор" content="Костик)">
    <meta name="Автор №2" content="Паша)">
    <link rel="icon" href="icon.png" type="image/x-icon">
</head>
<body>
    <div class="table classes">
        {% block content %}
        <table class="classes">
            <caption>Список класів</caption>
            <thead>
                <th>Клас </th>
                <th>Кількість учнів</th>
                <th>Класний керіник</th>
            </thead>
            {% for form in forms %}
            <tbody>
                <tr>
                <td> {{ form }} </td>
                <td> {{form.students_qty}} </td>
                <td> 
                    {% for teacher in teachers  %}
                        {% if teacher.id == form.classteacher_id %}
                            {{ teacher }}
                        {% endif %}
                    {% endfor %}
                </td>
                </tr> 
            </tbody>
            {% endfor %}
        </table>
        {% endblock %}
    </div>
</body>
</html>